@model IEnumerable<string>

@Html.ActionLink("Add photo", "Create", "Photo", null, new { @class = "btn btn-block btn-primary" })


<br />

<p>
    <button class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Choose album
    </button>
</p>


<div class="collapse" id="collapseExample">

    @Html.ActionLink("All photos", "List", "Photo", null, new { @class = "btn btn-block btn-default " })

    @foreach (var link in Model)
    {
        @Html.RouteLink(link, new
    {
       controller = "Photo",
       action = "List",
       category = link,
       page = 1
    }, new
    {
       @class = "btn btn-block btn-default "
                     + (link == ViewBag.SelectedCategory ? " btn-primary" : "")
    })
    }
</div>
<br />
@Html.ActionLink("Manage", "Create", "Photo", null, new { @class = "btn btn-block btn-primary" })

